@import 'init';
.dignity {
    background-color: $secondSectionColor;
    &__container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 36px;
        row-gap: 33px;
        padding-top: 25px;
        padding-bottom: 55px;
    }
    &__heading {
        grid-column: 1/3;
        justify-self: center;
        margin-bottom: 30px;
    }
    &__article {
        display: flex;
        padding-left: 40px;
    }
    &__article::before {
        content: url(../images/dignity-icon.svg);
        width: 34px;
        height: 35px;
        margin-right: 8px;
    }
}